.services{
   
    max-width: 90rem;
     margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: auto;
    gap: 3rem;
    font-family: sans-serif;
    padding-top: 30px;
    text-align: center;

    &--card__item{
        span{
            color: rgb(253, 42, 42);
            font-size: 4rem;
        }

        h3{
            font-size: 2rem;
            font-weight: 600;
            margin-top: 2rem;
            color: #222;
        }
    }
}

.services * {
    box-sizing: border-box;
}



