.category__image{
   
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    padding: 1.4rem;
    cursor: pointer;
   
}

.title {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}

