.header__cover{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right, rgba(0, 0, 94, 0.9), rgba(#01008C, 0.2)), url(../../assets/header.png);
    /* background-image: url(../Image/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;

    &--content{
        position: absolute;
        top: 20%;
        left: 20%;
        width: 40%;

        color: white;

        p{
            font-size: 3rem;
            letter-spacing: 0.6rem;
        }

        h1{
            font-size: 8rem;
            font-weight: 900;
            margin-bottom: 2rem;
        }

        button{
            width: 26rem;
            height: 4rem;
            padding: 1rem 2rem;
            font-size: 1.8rem;
            letter-spacing: 1rem;
            
            border-radius: 1.5rem;
        }
    }

}