.product-heading{
    width: 100%;
   

    &__content{
        margin: 2rem 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--left{
          
        font-size: 3.6rem;
        font-size: 4rem;
            font-weight: 200;
            letter-spacing: 1rem;
        }

        &--right{
            color: #444;
            letter-spacing: .3rem;
            cursor: pointer;
        }

    }
}
    